/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/12/2015, 14:26:32
    Author     : Victor
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

li, a {
    color: #E91E63;
    text-indent: -15px;
    text-decoration: none;
    text-transform: none;
    list-style: none;
}
a:focus {
    color: #F50057;
    font-weight: 700;
    transition: .2s linear;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #F44336;
}

#menu, label:before, label:after {
    content: " ";
    position: absolute;
    left: 100px;
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 2px;
    transition: .5s ease;
}

label {
    padding: 38px 70px;
    position: absolute;
    z-index: 1;
}
label:before { top: 50px; }
label:after { top: 70px; }

#menu {
    top: 44px;
    width: 0px;
    transition: .2s ease;
    z-index: 0;
}
#menu li {
    line-height: 0.5;
    pointer-events: none;
    opacity: 0;
}

#menu-toggle:checked + label:before {
    top: 60px;
    left: 50px;
    transform: rotate(-45deg);
}
#menu-toggle:checked + label:after {
    top: 60px;
    left: 50px;
    transform: rotate(45deg);
}
#menu-toggle:checked + label + #menu {
    top: 44px;
    width: 120px;
    height: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    transition: .3s ease .2s;
    z-index: 1;
}
#menu-toggle:checked + label + #menu li {
    pointer-events: all;
    font: 16pt 'Roboto', sans-serif;
    line-height: 2.3;
    opacity: 1;
    z-index: 2;
    transition: .2s ease .3s;
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}